.MainContainer {
  background-color: var(--green-color2);
  max-width: 100vw;
  width: 100%;
  min-height: 100vh;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.FormContainer h1 {
  font-weight: 700;
  font-size: 24px;
}

.FormContainer {
  background-color: var(--white);
  color: var(--green-color1);
  max-height: 500px;
  height: auto;
  padding: 20px;
  margin-top: 45px;
  border-radius: 10px;
}

.FieldItem {
  margin-top: 20px;
}

input {
  background-color: var(--white);
  border: 1.5px solid var(--green-color1);
  width: 100%;
  height: 40px;
  border-radius: 5px;
}

.Btn {
  width: 100%;
  margin-top: 20px;
  padding: 10px;
  border-radius: 10px;
  background-color: var(--green-color1);
  color: var(--white);
  text-transform: uppercase;
  font-weight: 700;
}
