:root {
  --white: #ffffff;
  --green-color1: #223134;
  --green-color2: #304242;
  --font-text: Albert Sans;
  --font-title: Manrope;
  font-family: var(--font-text), Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  color: var(--white);
  background-color: var(--green-color1);
}

* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

h1 {
  font-family: var(--font-title);
}

img {
  max-width: 100%;
  display: block;
}

button {
  cursor: pointer;
}

a {
  color: var(--white);
}

@tailwind base;
@tailwind components;
@tailwind utilities;
